# Dependencies
node_modules/
.next/
out/
build/
dist/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Test
coverage/

# TypeScript
*.tsbuildinfo
next-env.d.ts
