NEXT_PUBLIC_APP_NAME=MyEasyHand Admin
NEXT_PUBLIC_APP_URL=http://localhost:8081
NEXT_PUBLIC_API_URL=http://localhost:5051/api/v1
NEXT_PUBLIC_WEBSITE_URL=https://myeasyhand.in
NEXT_PUBLIC_ONESIGNAL_APP_ID=5509abf7-7bcb-43b9-bc4f-583961d89c63
PORT=8081
